<title *ngIf="dataLoaded | async">Read {{currentComposition.title}}</title>
<div class="container-fluid mt-4 mb-4" *ngIf="!hasError">
  <div class="row" *ngIf="dataLoaded | async">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto shadow shadow-wrapping" *ngIf="isRead">
      <h1 class="text-center">{{currentChapter.chapterTitle}}</h1>
      <img class="rounded img-fluid d-block shadow-lg mx-auto"
           [src]="currentChapter.imgSource" />

      <div [innerHTML]="currentChapter.context | safeHtml"
           style="word-wrap: break-word;">
      </div>


      <div class="button-container-compositon justify-content-end d-flex">
        <ngb-pagination [collectionSize]="chapterCount"
                        [(page)]="page"
                        [maxSize]="3"
                        [pageSize]="1"
                        [boundaryLinks]="true"
                        [rotate]="true"
                        (pageChange)="switchChapter($event)">

        </ngb-pagination>
      </div>
    </div>

    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto shadow shadow-wrapping" *ngIf="!isRead">
      <div class="row pb-3 mb-4">
        <div class="col">
          <h2 class="text-center mt-3">{{currentComposition.title}}</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-3 col-md-10 col-sm-10 mx-auto">
          <p><strong>Genre: </strong>{{currentComposition.genre}}</p>
          <p><strong>Chapters count: </strong>{{currentComposition.chapters.length}}</p>
          <p><strong>Composition rating: </strong>{{compositionRating}}</p>
          <p>
            <strong>Tags: </strong>
            <mat-chip-list>
              <mat-chip color="primary" selected *ngFor="let compositionTag of currentComposition.compositionTags">
                <a (click)="searchByTag(compositionTag.tagId - 1)">{{tagsList[compositionTag.tagId - 1].tag}}</a>
              </mat-chip>
            </mat-chip-list>
          </p>
        </div>
        <div class="col-lg-6 col-md-10 col-sm-10 mx-auto"
             style="word-wrap: break-word;"
             [innerHTML]="currentComposition.previewContext | safeHtml">
        </div>

        <div class="button-container pb-2">
          <button mat-raised-button color="primary" class="align-button" (click)="readComposition()"> Read </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container not-found-container" *ngIf="hasError">
  <div class="row">
    <div class="col">
      <div id="notfound">
        <div class="notfound">
          <div class="notfound-404">
          </div>
          <h2>{{errorMessage}}</h2>
          <div>
            <a routerLink="" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-home"></span>
              Back to home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
