<title>Home</title>
<div class="container-fluid">
  <div class="row" *ngIf="compositionsLoaded && tagsLoaded | async">

    <div class="col mb-2 mt-2">
      <h1 style="margin-left:40%;">Latest updates</h1>
    </div>

    <div class="w-100"></div>

    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 mx-auto mb-2">
      <div class="row shadow shadow-wrapping pb-3 mb-4" *ngFor="let composition of compositionsList; index as i">
        <div class="col">
          <h2 class="text-center mt-3">{{composition.title}}</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-3 col-md-10 col-sm-10 mx-auto">
          <p><strong>Genre: </strong>{{composition.genre}}</p>
          <p><strong>Chapters count: </strong>{{composition.chapters.length}}</p>
          <p><strong>Composition rating: </strong></p>
          <p>
            <ngb-rating [(rate)]="compositionRating[i]" [max]="5" class="no-outline" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </p>
          <p>
            <strong>Tags:</strong>
            <mat-chip-list>
              <mat-chip color="primary" selected *ngFor="let compositionTag of composition.compositionTags">
                <a (click)="searchByTag(compositionTag.tagId - 1)">{{tagsList[compositionTag.tagId - 1].tag}}</a>
              </mat-chip>
            </mat-chip-list>
          </p>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-10 mx-auto"
             style="word-wrap: break-word;"
             [innerHTML]="composition.previewContext | safeHtml">
        </div>

        <div class="button-container pb-2">
          <button mat-raised-button color="primary" class="align-button" (click)="readComposition(composition.compositionId)"> Read </button>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-10 col-md-10 col-sm-10 mx-auto mt-1">
      <h2 class="text-center"> Composition tags </h2>
      <div class="col p-4">
        <mat-chip-list *ngIf="tagsLoaded | async">
          <mat-chip color="primary" selected *ngFor="let tag of tagsList; index as i">
            <a (click)="searchByTag(i)">{{tag.tag}}</a>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
