<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12 mb-4 mx-auto">
      <h2 class="text-center">Your compositions table</h2>
      <button mat-button (click)="goTo('/account/create-composition')">
        <mat-icon class="mat-18 mat_icon">create</mat-icon> Create composition
      </button>
      <div class="w-100 pb-2"></div>
      <table mat-table *ngIf="accountDataLoaded | async"
             [dataSource]="dataSource"
             matSort (matSortChange)="sortData($event)"
             class="mat-table-styling">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="main-column"> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="second-column"> Genre </th>
          <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
        </ng-container>

        <ng-container matColumnDef="read">
          <th mat-header-cell *matHeaderCellDef class="icon-column">
            Read
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openComposition(element)">
              <mat-icon class="mat-18 mat_icon">menu_book</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="manage">
          <th mat-header-cell *matHeaderCellDef class="icon-column">
            Manage
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="manageComposition(element)">
              <mat-icon class="mat-18 mat_icon">view_headline</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="icon-column">
            Delete
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteComposition(element)">
              <mat-icon class="mat-18 mat_icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <div *ngIf="deleteSuccessfull" class="alert alert-success mt-3" role="alert">
        Composition successfully deleted
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 mx-auto"
         *ngIf="userDataLoaded | async">
      <div class="shadow-lg shadow-wrapping">
        <h2 class="text-center">{{currentUser.userName}}</h2>
        <div class="col mx-auto">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="forsenJoy" [(ngModel)]="currentUser.email" required>
          </mat-form-field>
        </div>

        <div class="col mx-auto">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="forsenJoy" [(ngModel)]="currentUser.firstName" required>
          </mat-form-field>

          <h1>ToDo: edit-in-place</h1>

        </div>
      </div>
    </div>
  </div>
</div>
