<div class="container-fluid">
  <div class="row">
    <div class="col-8 mx-auto">
      Content?
    </div>
    <div class="col-4 mx-auto shadow-lg shadow-wrapping" *ngIf="dataLoaded | async">
      <h2 class="text-center">{{currentUser.userName}}</h2>
      <div class="col mx-auto">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="forsenJoy" [(ngModel)]="currentUser.email" required>
        </mat-form-field>
      </div>

      <div class="col mx-auto">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="forsenJoy" [(ngModel)]="currentUser.firstName" required>
        </mat-form-field>

        <h1>ToDo: edit-in-place</h1>

      </div>
    </div>
  </div>
</div>
