::ng-deep .mat-form-field {
  width: 100%;
  background-color: none;
}

::ng-deep .mat-table th,
::ng-deep .mat-table td {
  color: #3C52B4;
  background-color: gainsboro;
}

::ng-deep .mat-paginator-container {
  background-color: gainsboro;
}

.main-column {
  width: 50%;
}

.second-column {
  width: 20%;
}

.icon-column {
  width: 10%;
}


.inplace-edit {
  cursor: pointer;
  width: 60%;
}

  .inplace-edit:hover {
    border-radius: 10px;
    border: 1px solid;
    border-color: lightslategray;
  }

.edit-inplace-cell {
  border: none;
  border-bottom: 2px solid;
  border-color: lightslategray;
  background-color: transparent;
  padding: 5px 5px;
  width: 100%;
  height: 100%;
  margin-left: 20%;
  font-weight: 700;
}

  .edit-inplace-cell:focus,
  .edit-inplace-cell:hover,
  .edit-inplace-cell:active {
    outline: none !important;
    outline-style: none !important;
  }

@media (max-width: 991.98px) {
  ::ng-deep .mat-table th,
  ::ng-deep .mat-table td {
    font-size: 10px;
  }
}


@media (max-width: 767.98px) {
  ::ng-deep .mat-table th,
  ::ng-deep .mat-table td {
    font-size: 8px;
  }
}

